.btnnnd{
  position:fixed;
  font-size:17px;
  bottom:50px;
  right:30px;
  height:35px;
  text-align:center;
  display:flex;
  justify-content:center;
  align-content:center;
  width:35px;
  border-radius:50%;
  border:none;
  cursor:pointer;
  background-color: rgba(154, 154, 154, 0.429);
   .arrr{}
}